<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Class Based Views{% endblock title %}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Class Based Views</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div class="container">
        {% block content %}
            <h1>Class Based Views</h1>
            <ul>
                <li>
                    Views
                    <ul>
                        <li>
                            <a href="/about/">
                                Template
                            </a>

                        </li>
                        <li>
                            <a href="/user/new/">
                                Create
                            </a>
                        </li>
                        <li>
                            <a href="/user/detail/1/">
                                Detail
                            </a>
                        </li>
                        <li>
                            <a href="/user/edit/1/">
                                Edit
                            </a>
                        </li>
                        <li>
                            <a href="/user/list/">
                                List
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    CBVs
                    <ul>
                        <li>
                            Template
                        </li>
                        <li>
                            Detail
                        </li>
                        <li>
                            List
                        </li>
                        <li>
                            Form
                        </li>
                    </ul>
                </li>
                <li>Debugging</li>
                <li>Mixins</li>
                <li>Pitfalls</li>
                <li>Context</li>
                <li>Decorators</li>
                <li>Composition</li>
                <li>Expose</li>
        {% endblock content %}
    </div><!-- .container -->
</body>
</html>